* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  body {
    height: 100vh;
    background-image: url("hd-wallpaper-2561392_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  html {
    font-size: 16px;
  }
  .box{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
  }
  .button-option {
    background:rgba(255, 255, 255, 0.493);
    height: 22vmin;
    cursor: pointer;
    width: 22vmin;
    border: none;
    border-radius: none;
    font-size: 12vmin;
    color: #000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  #reset{
    font-size: 1.3em;
    padding: 1em;
    cursor: pointer;
    border-radius: 8px;
    background-image: linear-gradient(to right, rgb(196, 3, 3),#000);
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
  }
  .popup {
    background-image: url("hd-wallpaper-2561392_1280.jpg");
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
  }
  #new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    cursor: pointer;
    background-image: linear-gradient(to right,#0066ff,rgb(0, 0, 0));
    color: #fff;
    border-radius: 0.2em;
    border: none;
  }
  #message {
    color: #000;
    text-align: center;
    font-size: 1em;
  }
  .popup.hide {
    display: none;
  }